*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.conteiner{
  width:60%;
  margin:40px auto;
}

.item,.top,.bottom,.under-immage{
  display: inline-block;
}
.item{
  width: 33%;
}
.top{
position:relative;
}
.bottom{
  
  margin-bottom: 30px;
}

img{ 
  width: 100%; 
 } 

.label{
  position:absolute;
}
/* dISCAUNT SOSTENIBILITA HEART CHAR. */
.discount ,.sost{
  color:white;
  font-size:10px;
  padding:2px 5px;
  bottom:20px;
  
}
  .discount,.sost,.heart{ 
  z-index:2; 
 }  
.discount{
  background-color:red;
}
.sost{
  left:40px;
  background-color:green;
}
.heart{
  width: 40px;
  height: 40px;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  background-color: white;
  right:0px;
  top:10px;
}
/* PHOTO THAT APPEARS WITH HOVER */
.disappearance{
  display: none;
}
.item:hover .disappearance{
position: absolute;
display:block;
 z-index:1; 
}

/* BRAND SPOT PRICE */

.brand,.spot{
  font-size:10px;
}
.new-price,.old-price{
  font-size: 10px;
  padding: 0 5px 0 0;
}
.new-price{
  color:red;
}
.old-price{
  text-decoration: line-through;
}
